services:
  backend:
    build:
      context: ./api-service
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend-service
    ports:
      - "8081:80"
    depends_on:
      - backend
